[mgr]
show_hidden = true

[opener]
open = [
    { run = 'zathura "$@"', orphan = true, desc = "zathura", for = "linux" },
    { run = 'swayimg "$@"', orphan = true, desc = "swayimg", for = "linux" },
    { run = 'xdg-open "$1"', desc = "Open", for = "linux" },
    { run = 'open "$@"', desc = "Open", for = "macos" },
    { run = 'start "" "%1"', orphan = true, desc = "Open", for = "windows" },
    { run = 'termux-open "$1"', desc = "Open", for = "android" },
]
